table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  position: absolute;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 15px;
  width: 250px;
  font-size: 18px;
}
